# Ignore everything in the data directory
data/*
!data/.gitkeep
!data/example_data/
!data/example_data/*

# Ignore everything in the results directory
results/*
!results/.gitkeep

# Ignore running related things withhard coded data
# config_test.yaml
.snakemake/*

